body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("cosmos.jpg");

    background-repeat: no-repeat;
    background-size: 120%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(0, 0, 0));
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Helveticla, "Trebuchet MS", Verdana, sans-serif;
    font-variant: small-caps;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(207, 97, 24))
}

.active {

    background-image: linear-gradient(to right, rgb(4, 208, 214), hsl(346, 87%, 53%));

    /* background-image: linear-gradient(to left, rgba(255, 0, 0, 0), hsl(346, 87%, 53%)); */
}

#body {
    margin-top: 60px;
}

.center {
    text-align: left;
    padding-top: -120px;
    position: absolute;
    font-size: 80px;
    font-family: cursive;
    font-variant: small-caps;

    color: #fff;

    border-bottom: 1px solid #fff;

    position: absolute;
    top: 25%;
    left: 10%;
    text-decoration: overline;

}

.min {
    position: absolute;
    top: 25%;
    left: 10%;
    border-bottom: 1px solid #fff;
    text-align: left;
    font-size: 50px;
    font-family: cursive;
    font-variant: small-caps;
    color: #fff;
    padding-top: 20%;
    font-weight: lighter;
    text-decoration: overline;


}

img {
    border-radius: 110px;
    position: absolute;
    left: 75%;
    top: 30%;
}




@media only screen and (max-width: 1024px) {
    .min {
        font-size: 45px;
        top: 50%;
        left: 18%
    }

    .center {
        top: 50%;
        left: 18%;
        font-size: 85px;

    }


    body {

        background-image: url("copy.jpg");

        background-color: #222;
    }

    img {

        left: 40%;
        top: 12%;
    }


}

@media only screen and (max-width: 768px) {
    .min {
        font-size: 35px;
        top: 55%;
        left: 16%
    }

    .center {
        top: 50%;
        left: 15%;
        font-size: 65px;
    }

    body {

        background-image: url("copy.jpg");

        background-color: #222;
    }

    img {

        left: 35%;
        top: 12%;
    }


}

.particles-js-canvas-el {
    position: absolute;
}

@media only screen and (max-width: 550px) {
    .min {
        font-size: 25px;
        top: 55%;
        left: 10%
    }

    .center {
        top: 50%;
        left: 10%;
        font-size: 47px;

    }

    img {

        left: 23%;
        top: 12%;
    }
}

@media only screen and (max-width: 375px) {
    .min {
        font-size: 25px;
        top: 55%;
        left: 5%
    }

    .center {
        top: 50%;
        left: 7%;
        font-size: 44px;


    }

    img {

        left: 23%;
        top: 12%;
    }
}

@media only screen and (max-width: 320px) {
    .min {
        font-size: 20px;
        top: 63%;
        left: 10%
    }

    .center {
        top: 58%;
        left: 10%;
        font-size: 35px;

    }

    img {
        width: 50%;

        left: 25%;
        top: 20%;
    }
}

@media only screen and (max-width: 300px) {
    li a {
        padding: 14px 12px;
    }
}